<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>BroBooks - Buy and Sell Textbooks from your Friends</title>
    <script data-main="js/main" src="js/lib/require/require-min.js"></script> 
    <!-- <script src="js/lib/jquery/jquery-min.js"></script>
    <script src="js/lib/underscore/underscore-min.js"></script>
    <script src="js/lib/backbone/backbone-min.js"></script>
    <script src="js/index.js"></script> -->
  </head>

  <body>
    <div id="container">
      <div id="menu"></div>
      <div id="content"></div>
    </div>
  </body>

</html>
