.nine-sixty {
  width: 960px;
  margin: 0 auto;
}

.title {
  width: 100%;
  margin: 10px 0;
}

.logo {
  margin: 0 auto;
  display: block;
}

.punch-line {
  text-align: center;
}

.nav {
  height: 50px;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
}

.nav-ele {
  display: inline;
  margin: 0 20px;
}
