
    <div id="meat">
      <div id="selectBook">
        <h3>Step 1 - Pick a Book</h3>
        <form id="pickClass" class="buyPick">
          <h4>Enter the coursename</h4>
          <input type="text" name="course" placeholder="English R1B"/>
        </form>
        <form id="pickLecture" class="buyPick">
          <h4>Select the lecture</h4>
          <input type="radio" name="lecture" value="1"/> 001 - Carolyn Hawkshaw</br>
          <input type="radio" name="lecture" value="2"/> 002 - Andrew Zettl</br>
          <input type="radio" name="lecture" value="3"/> 003 - Madison Nora
        </form>
        <form id="pickBook" class="buyPick">
          <h4>Pick the book</h4>
          <input type="radio" name="book" value="1"/> Poetics by Aristotle </br>
          <input type="radio" name="book" value="2"/> Theory on Mechanics and Thermodynamics </br>
          <input type="radio" name="book" value="3"/> Probabilty and Statistics </br>
        </form>
        <div id="pickBookButton">
          <div class="btn btn-primary">Buy Book</div>
        </div>
      </div>
      <div id="selectFriend">
        <h3>Step 2 - Choose a friend to buy from</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Select</th>
              <th>Name</th>
              <th class="span1">Price</th>
              <th class="span2">Preferred Time</th>
              <th class="span2">Location</th>
              <th class="span3">Book Condition</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="span1">Buy</td>
              <td class="span3">Gerald Gee-Ho Fong</td>
              <td class="span1">$200</td>
              <td class="span2">Thursday 2:00pm</td>
              <td class="span2">Cafe Strada</td>
              <td class="span3">Awesome Condition</td>
            </tr>
            <tr>
              <td class="span1">Buy</td>
              <td class="span3">Sharad Vikram</td>
              <td class="span1">$20</td>
              <td class="span2">Thursday 8:00pm</td>
              <td class="span2">Asian Ghetto</td>
              <td class="span3">Awesome Epic Condition</td>
            </tr>
            <tr>
              <td class="span1">Buy</td>
              <td class="span3">Siddhartho I-Can't-Spell-His-Last-Name</td>
              <td class="span1">$230</td>
              <td class="span2">Monday 2:00pm</td>
              <td class="span2">Crossroads</td>
              <td class="span3">Awesome Condition Except for the rips in the back</td>
            </tr>
          </tbody>

        </table>
        <div id="createMeetup">
          <h3>Step 3 - Setup a meetup</h3>
          <h4>Select a Time</h4>
          <input type="text" id="datepicker">


          <h4>Pick a Location</h4>
          <h4>Enter Your Cell</h4>
          <h4>Additional Comments</h4>
          

        </div>
      </div>
    </div>
