    <div id="start">
      <div id="subtitle">
        Pick a book. Choose a friend. Meetup in Person.
      </div>
      <div id="subsubtitle">
        We will walk you through every step.
      </div>
      <div id="buttons">
        <span id="startBuy" class="button">
          <a href="buy">I want to buy</a>
        </span>
        <span id="startSell" class="button">
          <a href="sell">I want to sell</a>
        </span>
      </div>
    </div>
    <div id="meat">
      <div id="quickInstruction"> 
        <div class="title">
          Pick a book. Choose a friend. Meetup in person.
        </div>
        <div class="explanation">
          We will walk you through every step. 
        </div>
      </div>
    </div>
 
