html, body {
  height: 100%;
  margin: 0;
  background: url(../img/desk_texture.png);
}
/* Big Picture Layouts */

#notFooter {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px auto;
  width: 950px;
  background: url(../img/lined_paper.png);

}

#footer {
  clear: both;
  height: 40px;
  text-align: center;
  background: white;
  line-height: 40px;
}

/* Global Font Styles */

.header-wrapper {
  text-align: center;
}
h1 {
  font-size:2em;
}

h2 {
  font-size:1em;
}

.image-stuff-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.stuff-wrapper {
  float: left;
  width: 650px;
  height: 300px;
}

.browl-wrapper {
  float:left;
  height:400px;
  width:300px;
}
.browl {
  width:100%;
  text-align:center;
  margin:auto;
}
.browl-welcome {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
 -ms-filter: "FlipH"; 
}

.stuff {
  width:100%;
  height:100%;
  margin-left:auto;
  margin-right:auto;
  float:left;
  padding: 10px;
}

/* Home Page Styles */
#home-image-content {
  position:relative;
}
#home-stuff {
  margin-top:120px;
  text-align: center;
}

/* Buy Page Styles */
#buy-header {
  text-align: center;
}


