html, body {
  height: 100%;
  margin: 0;
  background: url(../img/desk_texture.png);
}
/* Big Picture Layouts */

#notFooter {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px auto;
  width: 950px;
  background: url(../img/repeatable_paper.png);
  position: relative;
}

#cleared {
  clear: both;
}

#footer {
  position:relative;
  z-index:3;
  clear: both;
  height: 40px;
  text-align: center;
  background: white;
  line-height: 40px;
}

#paper-header {
  position: absolute;
  width: 950px;
  background-color: #efebaa;
  top: 0;
  left: 0;
  height: 93px;
  z-index: 1;

}

#content {
  z-index: 2;
  position: relative;
}

/* Menu */

#menu {
  z-index: 2;
  position: relative;
  padding: 14px 20px;
}

.menu-item {
  display: inline-block;
  width: 130px;
  height: 70px;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: 20px;
}

#menu-home {
  background-image: url(../img/menu/mainlogo_pencil.png);
  background-size: 300px 70px;
  width: 300px;
  margin-right: 35px;
}

#menu-buy {
  background-image: url(../img/menu/buy_noclick_fixed.png);
  background-position-y: 5px;
}

#menu-buy:active {
  background-image: url(../img/menu/buy_click_fixed.png);
  background-position: 5px 10px;
}

#menu-sell {
  background-image: url(../img/menu/sell_noclick_fixed.png);
  display: inline-block;
  width: 150px;
  background-position-y: 5px;
}

#menu-sell:active {
  background-image: url(../img/menu/sell_click_fixed.png);
  background-position: 8px 8px;
}

#menu-login {
  width: 60px;
  position: absolute;
  top: 10px;
  right: 0px;
}


/* Global Font Styles */

.header-wrapper {
  text-align: center;
}
h1 {
  font-size:1.8em;
  font-weight: normal;
  font-family: Helvetica Neue;
  z-index: 2;
}

.step-title {
  font-size:1.2em;
  line-height: 1.5em;
  z-index: 2;
}

.image-stuff-wrapper {
  position: relative;
  padding: 10px;
}

.stuff-wrapper {
  float: left;
  width: 600px;
  height: 300px;
}

.browl-wrapper {
  float:left;
  height:400px;
  width:320px;
  position:relative;
}
.browl {
  right:0px;
  position:absolute;
  text-align:center;
  margin:auto;
}

.browl img {
  margin-left: 40px;
  width: 280px;
}


.stuff {
  height:100%;
  padding: 10px 30px;

}

/* Home Page Styles */
#home-image-content {
  position:relative;
}
#home-stuff {
  text-align: center;
}
.home-get-started-text {
  line-height:1.2em;
  font-size:2.5em;
  margin-top:-10px;
}
#home-text-wrapper{
}
#home-buy-text-wrapper{
  width:100%;
  position:relative;
  float:left;
  text-align:center;
}
.home-text-header{
  font-size:2.5em;
  margin-auto;
  width:100%;
  line-height:1.5em;
}
.home-text{
  text-align:left;
}
.home-text-subtitle{
  font-weight:bold;
}
.home-step {
  padding-top:10px;
  font-size:1.1em;
}
.home-step-content {
  font-size:0.97em;
  margin-left:10px;
  padding:5px;
}

/* Buy Page Styles */
#buy-header {
  text-align: center;
}

#buy-lecture {
}

/* Sell Page Styles */
#sell-header {
  text-align:center;
}
