html, body {
  height: 100%;
  margin: 0;
}
/* Big Picture Layouts */

#notFooter {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 0 -40px 0;
}

#footer {
  clear: both;
  height: 40px;
  text-align: center;
}

/* Home Page Styles */
#main-header {
  text-align:center;
}
.main-header-text {
  font-size:2em;
}
