<div>
  <div class="header-wrapper">
    <h1> Buy and sell books from your friends!</h1>
    <h3> Something somethign something something Dark Side! </h3>
  </div>
  <div class="image-stuff-wrapper">
    <div class="browl-wrapper">
      <div class="browl">
      <img class = 'browl-welcome' src="/img/browl_welcome.png" width='250px'></img>
      </div>
    </div>
    <div class="stuff-wrapper">
      <div id="home-stuff" class="stuff">
        <div id="home-get-started" class="home-get-started-text">Get Started!</div>
        <div id="home-buttons-wrapper">
          <button id="home-buy-button" class='btn btn-primary home-buy-sell-button'>I want to buy!</button>
          <button id="home-sell-button" class='btn btn-primary home-buy-sell-button'>I want to sell!</button>
      </div>
    </div>
  </div>
</div>
