<div>
  <div id="main-header" class="main-header-text">Buy and sell books from your friends!</div>
  <div id="main-subheader" class="main-subheader-text">Something something something Dark Side!</div>
  <div id="main-image-content-wrapper">
    <div id="main-browl-wrapper">
    </div>
    <div id="main-content-wrapper">
      <div id="main-content">
        <div id="main-get-started" class="main-get-started-text">Get Started!</div>
        <div id="main-buttons-wrapper">
          <button class='button btn-primary main-buy-sell-button'>I want to buy!</button>
          <button class='button btn-primary main-buy-sell-button'>I want to sell!</button>
      </div>
    </div>
  </div>
</div>
