<div>
  <div class="header-wrapper">
    <h1> Buy and sell books from your friends!</h1>
    <h3> Something somethign something something Dark Side! </h3>
  </div>
  <div class="image-stuff-wrapper">
    <div class="browl-wrapper">
      <div class="browl">
        <img src="/img/browl_welcome.png"></img>
      </div>
    </div>
    <div class="stuff-wrapper">
      <div id="home-stuff" class="stuff">
        <div id="home-get-started" class="home-get-started-text">Want an easy way to buy or sell textbooks?</div>
        <div id="home-text-wrapper">
          <div id = "home-buy-text-wrapper">
            <div class="home-text-header">I want to buy!</div>
            <div class="home-text">
              <div class="home-step"><span class='home-text-subtitle'>Step 1:</span> Pick a book</div>
              <div class="home-step-content">Plug in your course name and lecture number and all you have to do is pick out of a list of the books.</div>
              <div class="home-step"><span class='home-text-subtitle'>Step 2:</span> Pick a friend</div> 
              <div class="home-step-content">Now you have to select which friend you'll buy it from after a list is given to you.</div>
              <div class="home-step"><span class='home-text-subtitle'>Step 3:</span> Pick a place</div> 
              <div class="home-step-content">Specify a location and time at which the book transaction will be made.</div>
            </div>
          </div>
          <div id="home-sell-text-wrapper">
            <div class="home-text-header">I want to sell!</div>
            <div class="home-text">
              <div class="home-step"><span class='home-text-subtitle'>Step 1:</span> Pick a book</div>
              <div class="home-step-content">Either input the book's ISBN or choose a course and lecture to pick a book.</div>
              <div class="home-step"><span class='home-text-subtitle'>Step 2:</span> Pick your conditions</div> 
              <div class="home-step-content">Decide on a price and general time/location to sell your book.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div id="cleared"></div>
  </div>

