<h3>About</h3>
This site was put together by Gerald Fong with the help of Sharad Vikram. The logo was created by Ryan Davis.

If you find any bugs (and i'm sure you will!), please email me at geraldgfong @(biggest search engine's mail).com, or message me via Facebook. You can also find me on twitter @geraldgfong.
