<h2>About</h2>
<h3>How to use this site</h3>
<p>
Look around for books that you would like to buy. Place an offer for that book with your information, and the seller will be notified via email. Then meet up in person and actually buy the book from that person. </br></br>
As a seller, list books that you want sold, and wait for a person to offer. Enter a preferred date and location so the buyer will be able to recommend an appropriate spot to meet up. </br></br>
</p>
<h3>About us</h3>
<p>
This site was created by Gerald Fong with the help of Sharad Vikram. The logo was designed by Ryan Davis.</br></br>

The purpose of Brobooks is to help you Berkeley students buy and sell your textbooks. It is very frustrating seeing hundreds of posts saying "SELLING CHEM 1A" and "BUYING PHYSICS 7B" when there should be a better way to do it. The purpose is to make selling textbooks to friends on facebook or around you much easier.</br></br>

If you have any recommendations, you can find me (Gerald Fong) on facebook. Go ahead and message me with feedback at any time. I have been making constant changes to this site, and I don't intend to stop! </br></br>

Hope this site makes your textbook shopping a bit less tedious!</br></br>

Best,</br>
Gerald
</p>
