<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Brobooks </title>
  <script type="text/javascript" src="/js/lib/jquery/jquery-min.js"></script>
  <script type="text/javascript" src="/js/lib/underscore/underscore-min.js"></script>
  <script type="text/javascript" src="/js/lib/backbone/backbone-min.js"></script>
  <script type="text/javascript" src="/js/<%=page%>.js"></script>
  <script type="text/javascript" src="/js/fb.js"></script>

  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
  <link rel="stylesheet" href="/css/bootstrap-responsive.css" type="text/classss"/>
  <link rel="stylesheet" href="/css/global.css"/>
  <link rel="stylesheet" href="/css/<%=page%>.css"/>
</head>
<body>
  <div id="fb-root"></div>
  <div class="nine-sixty">
    <div class="title">
      <img class="logo" src="/img/menu/mainlogo_pencil.png"/>
    </div>
    <div class="nav">
      <div class="nav-ele"><a href="/">Browse Listings</a></div>
      <div class="nav-ele"><a href="/sell">Post a Listing</a></div>
      <div class="nav-ele"><a href="/offersSplash">Your Listings</a></div>
      <div class="nav-ele"><a href="/about">About</a></div>
    </div>
    <%-body%>
  </div>
</body>
</html>
