<div id="buy-content">
  <div class='header-wrapper'>
    <div class="header">
      <div class="header-wrapper-left"></div>
      <div class="header-text-wrapper">
        <h1> Buy books from your friends!</h1>
      </div>
      <div class="header-wrapper-right"></div>
      <div style="clear:both;"></div>
    </div>
  </div>

  <div class="image-stuff-wrapper">
    <div class="browl-wrapper">
      <div class='browl'>
        <img src="/img/browl_buy.png"></img>
      </div>
    </div>
    <div class="stuff-wrapper">
      <div class="stuff ">

          <div class="buy-step" id="buy-step-1">
            <div class="step-title">Step 1: Pick a book</div>
            <div class="step-description"> Pick a Class</div>
            <input id="buy-class-select" type="text"/>
            <div class="step-description"> Pick a Lecture</div>
            <!--<div id="buy-lecture">
            </div>-->
            <select id="buy-lecture"> 
            </select>
            <div class="step-description"> Pick a Book</div>
            <select id="buy-book"> 
            </select>
            <div>
              <button id="pickBook" type="submit" class="btn btn-primary">Buy this book</button>
              <span class=>Login required</span>
            </div>
          </div>

          <div class="buy-step" id="buy-step-2">
            <div class="step-title">Step 2: Pick a friend</div>
            <table class="table" id="buy-offer-table">
              <thead>
                <tr>
                </tr>
              </thead>
            </table>
          </div>

          <div class="buy-step" id="buy-step-3">
            <div class="step-title">Step 3: Pick a place and time</div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="cleared"></div>
