<div id="sell-content">
  <div class='header-wrapper'>
    <div class="header">
      <div class="header-wrapper-left"></div>
      <div class="header-text-wrapper">
        <h1> Sell books to your friends!</h1>
      </div>
      <div class="header-wrapper-right"></div>
      <div style="clear:both;"></div>
    </div>
  </div>

  <div class="image-stuff-wrapper">
    <div class="browl-wrapper">
      <div class='browl'>
        <img src="/img/browl_sell.png"></img>
      </div>
    </div>
    <div class="stuff-wrapper">
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label">Pick a class</label>
          <div class="controls">
            <input id="sell-class-select" type="text" placeholder="English R1B"/>
            <p class="help-block">Enter the department name and course number</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Pick a lecture</label>
          <div class="controls">
            <select id="sell-lecture"> </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Pick a book</label>
          <div class="controls">
            <select id="sell-book"> </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="appendedPrependedInput">Preferred Price</label>
          <div class="controls">
            <div class="input-prepend input-append">
              <span class="add-on">$</span><input id="sell-price" style="width: 30px; text-align: right;"type="text" placeholder="14" class="span2"/><span class="add-on">.00</span>
            </div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Condition</label>
          <div class="controls">
            <input id="sell-condition" type="text" placeholder="Slightly worn edges"/>
            <p class="help-block">Anything the buyer should know about your book</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Meetup Time</label>
          <div class="controls">
            <input id="sell-time" type="text" placeholder="Mon, Wed or Fri at 2pm"/>
            <p class="help-block">Preferred day(s) and time(s) to meetup</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Meetup Location</label>
          <div class="controls">
            <select id="sell-location">
              <option>Select a location</option>
            </select>
            <p class="help-block">Roughly where you want to sell your book</p>
          </div>
        </div>

        <div class="form-actions">
          <button id="submit-offer" type="submit" class="btn btn-primary">Sell my book!</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="cleared"></div>
