<div id="sell-content">
  <div class='header-wrapper'>
    <div class="header">
      <div class="header-wrapper-left"></div>
      <div class="header-text-wrapper">
        <h1> Sell books to your friends!</h1>
      </div>
      <div class="header-wrapper-right"></div>
      <div style="clear:both;"></div>
    </div>
  </div>

  <div class="image-stuff-wrapper">
    <div class="browl-wrapper">
      <div class='browl'>
        <img src="/img/browl_sell.png"></img>
      </div>
    </div>
    <div class="stuff-wrapper">
      <div class="stuff"></div>
    </div>
  </div>
</div>
