<div id="sell-content">
  <div class='header-wrapper'>
    <div class="header">
      <div class="header-wrapper-left"></div>
      <div class="header-text-wrapper">
        <h1> Sell books to your friends!</h1>
      </div>
      <div class="header-wrapper-right"></div>
      <div style="clear:both;"></div>
    </div>
  </div>

  <div class="image-stuff-wrapper">
    <div class="browl-wrapper">
      <div class='browl'>
        <img src="/img/browl_sell.png"></img>
      </div>
    </div>
    <div class="stuff-wrapper">
      <div class="stuff">
        <div class="step" id="sell-step-1">
          <div class="step-title">Step 1: Pick Book</div>
          <div class="substep">
            <div class="step-subtitle">Pick by selecting a class</div>
            <div class="step-description">Pick a Class</div>
            <input id="sell-class-select" type="text"/>
            <div class="step-description">Pick a Lecture</div>
            <select id="sell-lecture"></select>
            <div class="step-description">Pick a Book </div>
            <select id="sell-book"></select>
          </div>
          <div id="sell-or">or</div>
          <div class="substep" id="sell-isbn">
            <div class="step-subtitle">Pick by entering ISBN</div>
            <div class="step-description">Book ISBN</div>
            <input id="sell-isbn-input" type="text"/>
          </div>
        </div>


        <div class="step cleared" id="sell-step-2">
          <div class="step-title">Step 2: Pick the details</div>
          <div class="step-description">Price</div>
          <input id="sell-price" type="text"/>
          <div class="step-description">Condition</div>
          <input id="sell-condition" type="text"/>
          <div class="step-description">Meetup Time</div>
          <input id="sell-time" type="text"/>
          <div class="step-description">Meetup Location</div>
          <select id="sell-location">
            <option>North Side</option>
            <option>South Side</option>
            <option>West Side</option>
            <option>Campus</option>
          </select>
        </div>
        <button id="submit-offer" class="btn btn-primary">Submit</button>

      </div>

    </div>
  </div>
</div>
<div class="cleared"></div>
